<form ng-submit="createArticle(inputs)">
<div class="container">
	<div class="row">
    	<div class="col-sm-6">
                
                
            <div class="form-group" ng-repeat="item in items">
                <label>Tresc artykulu {{$index+1}}</label>
                <input class="form-control" type='text' ng-model='inputs[item.name]'>
            </div>

             
             
        </div>
        <div class="col-sm-6">
        	<H2>{{article.tresc}}</H2>
        </div>	
       <button type="button" class="btn btn-success" ng-click="dodaj()">Dodaj kolejny artykuł</button>
	   <button type="button" class="btn btn-danger" ng-click="usun()">usun ostatni</button>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr>
            <button type="submit" class="btn btn-primary" ng-if="!success">Dodaj wpis/y</button>
            <button type="button" class="btn btn-success" ng-if="success" disabled>Wpis/y dodany/e</button>
            <a href="javascript:history.back()"class="btn btn-primary">Wróć bez zmian</a>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
</form>