<div class="container">
	
	<p><input class="form-control" type="text" ng-model="szukaj"><span>Tutaj wpisz czego szukasz</span></p>
	<table class="table">
		<th>Lista ID</th><th>Link</th><th>Fraza</th>
		<!--<tr ng-repeat="product in products"> -->
		<tr ng-repeat="row in products  | filter : szukaj">
			<td ng-repeat="xx in row track by $index">
				<input class="form-control" ng-if="$index==0" type="text" ng-blur="myFunc($event,row)" ng-model="xx" disabled/>
				<input class="form-control" ng-if="$index==1" type="text" ng-blur="myFunc($event,row)" ng-model="xx" />
				<input class="form-control" ng-if="$index==2" type="text" ng-blur="myFunc($event,row)" ng-model="xx" disabled/>
				<input class="form-control" ng-if="$index!=0 && $index!=1 && $index%2==1" type="text" ng-blur="myFunc($event,row)" ng-model="xx" />
				<input class="form-control" ng-if="$index!=0 && $index!=2 && $index%2==0" type="text" ng-blur="myFunc($event,row)" ng-model="xx" disabled/>
				<pre>{{xx}}</pre>
			</td>
		</tr>
	</table>
	
</div>