<div class="container">
<div class="blog">

  <div class="row">
    <div class="col-sm-12">
      <!--<input type="text" class="form-control" placeholder="szukaj..." ng-model="search">-->
    <h2>Arytkuły</h2>
    <table class="table table-hover offer" id="iglaa">
      <thead>
        <tr class="firs">
          <th>Id</th>
          <th>Treść</th>
		  <th>test</th>
        </tr>
      </thead>
      <tbody>
       
    <tr ng-repeat="article in articles | filter : search">
      <td style="width:100px;">{{article.id}}</td>
      <td style="width:700px;"class="opis">{{article.tresc}}</td>
	  <td><p ng-bind-html="{{article.tresc}}">{{article.tresc}}</p></td>
    </tr>
    
    </tbody>
    </table>
  </div>
  </div>

 
  </div>
  </div>
            