
<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
      <div class="wrap-login100">
        <form class="login100-form validate-form" ng-submit="formSubmit(user)">
          <span class="login100-form-logo">
           <!-- <i class="zmdi zmdi-landscape"></i> -->
           <img src="images/logo.jpg" style="border-radius: 100px;width: 83px;"alt="">
          </span>

          <span class="login100-form-title p-b-34 p-t-27">
            Log in to Blogos
          </span>

          <div class="wrap-input100 validate-input" data-validate = "Enter username">
            <input class="input100" type="text" name="username" placeholder="Username" ng-model="user.email">
            <span class="focus-input100" data-placeholder="&#xf207;"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Enter password">
            <input class="input100" type="password" name="pass" placeholder="Password" ng-model="user.password">
            <span class="focus-input100" data-placeholder="&#xf191;"></span>
          </div>

          <!-- <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Remember me
            </label>
          </div> -->

          <div class="container-login100-form-btn">
            <button class="login100-form-btn">
              Login
            </button>
          </div>

          <div class="text-center p-t-90">
            <a class="txt1" href="#">
              Forgot Password?
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>