<div class="container">
    <header>
      <span class="login100-form-logo" style="float:left;">
           <!-- <i class="zmdi zmdi-landscape"></i> -->
           <img src="images/logo.jpg" style="border-radius: 100px;width: 83px;"alt="">
          </span>
      <h1>Blogos</h1>
    </header>
    <nav id="menu1">
      <ul>
        <li><a ng-if="isAdmin" href="#admin/uzytkownicy">Uzytkownicy</a></li>
        <li><a href="#podglad">Zobacz linki</a></li>
        <li><a href="#admin/podglad">Zmień linki</a></li>
        <li><a href="#blog">Zobacz wpisy</a></li>
        <li><a ng-if="isAdmin" href="#admin/addBlog">Dodaj wpisy</a></li>
        <li ng-if="loggedIn"ng-class="{active : isActive( '/logout')}"><a href="#" ng-click="logout()">Wyloguj</a></li>
      </ul>
      <button ng-if="!loggedIn"onclick="window.location.href='#login'" class="pull-right"><a href="#login">Zaloguj się</a></button>
    </nav>
</div>