<div class="container">
	
	<p><input type="text" ng-model="szukaj"></p>
	<table class="table">
		<th>Lista ID</th><th>Link</th><th>Fraza</th>
		<!--<tr ng-repeat="product in products"> -->
		<tr ng-repeat="row in products  | filter : szukaj">
			<td ng-repeat="xx in row track by $index">
				<input class="form-control" type="text" ng-model="xx" disabled/>
				
			</td>
		</tr>
	</table>
	<!--<pre>{{products | json}}</pre>-->
</div>